@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0 ;
    padding: 0;
}
.btn-container{
    text-align: center;
}
.btn{
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(82, 195, 3);
border: none;
cursor: pointer;
 

 }
#hero{
   
    background-color: tomato;
     
    background: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url(../assets/hero-bg.png);
     
    height: 919px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
     
}
 .hero-content{
    width: 1023px;
    text-align: center;
    color: aliceblue
    ;
    /* margin: 0 auto; */
    
}
#hero .hero-content .subtittle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;



}

#hero .tittle{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}

#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}

#card-box{
    width: 1320px;
    margin: 160px auto;
}

 #card-box .tittle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
 }

 #card-box .subtittle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;

 }
 .card-container{
    margin-top: 48px;
 } 

 .card{
    width: 424px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
    
 }
 .card .image-box{
    width: 424px;
 } 
.card .image-box img{
    width: 100%;
}

.card .shop{
    padding: 14px 32px 14px 32px;
    border-radius: 8px;

background: rgba(82, 195, 3, 0.15);
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#social{
    
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.76)2.884%,rgba(255, 255, 255, 0.932)101.034%),url(../assets/social-bg.png); 
     
    height: 671px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    }
#social .tittle{
        color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
 
    }
    #social .social-content{

        margin-top: 137px;


    }
#social .description{
    color:  rgb(16,16,16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;

}   
#social .subtittle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 48px;
width: 1320PX;

}
 
     


#social .icon{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
}
#social .icon img{
    width: 40px;
    display: flex;
    flex-direction: row;
     
    
    

}

  
#social .circel{
    display: flex;
    flex-direction: column;
justify-content:   flex-start;
align-items: center;
 
 
}
#image1{
    width: 1920px;
}
 

#image1 .pic .tittle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
#image1 .pic .description{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}

#image1 .pic .subtittle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
}
#image1 .icon{
    /* width: 250px; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
#image1 .icon img{
    width: 40px;
    display: flex;
    flex-direction: row;
     
    
    

} 

#image1 .food{
    display: flex;
}
#image1 .food{
    margin-top: 130px;
}

#image1 .food .pic .tittle{
    margin-top: 136px;
}
#image1 .food .pic .description{
    margin-top:20px ;
}
#image1 .food .pic .subtittle{
    margin-top: 48px;
}
#image1 .food .pic .icon{
    margin-top:32px ;
}
 

 
    




